
body {
    padding: 0px;
    margin: 0px;
    background-color: #f2f2f2;
    font-family: Verdana, Geneva, sans-serif;

}

.top-nav {
    display: flex;
    justify-content: space-between;
    background-color: #242424;
    color: white;
}

.pages {
    display: flex;
    width: 150px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px;
    text-align: center;
}

.nav-item {
    display: flex;
}

.nav-item li {
    list-style-type: none;
    width: 100px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px;
    text-align: center;
  }

  .nav-item a li {
    text-decoration: none;
    color: white;
  }

  .top-nav a:hover {
    background-color: #363636;
    transition: all ease-in-out 200ms;
  }

  .top-nav a {
    text-decoration: none;
  }

  .songs {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .box {
    margin: 30px;
    background-color: white;
    text-align: center;
    box-shadow: 0px 0px 20px -15px;
    border-radius: 16px;
  }
 
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row>* {
  flex: 1 1 300px;
}

.row-header {
    display: flex;
    flex-direction: column;
    margin: 30px;
    background-color: white;
    flex: 1;
    text-align: center;
    box-shadow: 0px 0px 20px -15px;
    border-radius: 16px;
}

.column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .column>* {
    flex: 1 1 500px;
  }

  audio {
    padding: 10px;
  }

  .page-header {
    text-align: center;
  }
