
body {
    padding: 0px;
    margin: 0px;
    background-color: #f2f2f2;
    font-family: "Avenir Next", "Avenir", sans-serif;
    height: 100%;
    width: 100%; 
   
    /*overscroll-behavior: none;*/
}

.center {
  text-align: center;
}

#blue-background {
  background-color: #3998ccff;
  box-shadow: inset 0 20px 20px -20px #000000;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    background-color: #242424;
    color: white;
    box-shadow: 0 0 10px black;
    
}

.pages {
    display: flex;
    width: 150px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px;
    text-align: center;
}

.nav-item {
    display: flex;
}

.nav-item li {
    list-style-type: none;
    width: 100px;
    padding: 5px;
    text-align: center;
  }

  .nav-item a li {
    text-decoration: none;
    color: white;
    margin-top: 10px;
  }

  .nav-item img{
margin-left: 10px;
margin-right: 10px;
margin-top:10px;
  }

  #name {
    margin-top: 0px;
    padding: 4px;
    padding-bottom: 4px;
  }

  #musicImg {
    margin-top: 7px;
    height: 38px;
  }

  .top-nav a:hover {
    background-color: #363636;
    transition: all ease-in-out 200ms;
  }

  .top-nav a {
    text-decoration: none;
  }

  /* font page CSS*/

  .home-header {
    padding-top: 40px;
    text-align: center;
  }

  .circle-image {
    width: 300px;
    height: auto;
    border-radius: 50%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .circle-image-shadow {
    display: block;
  width: 300px;
  height: 300px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  /*border: 5px solid #eee; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);  
  }

  .button{
    text-decoration: none;
    color: #363636;
  }

  /* hover effects for button*/
  #button:hover {
box-shadow: 0px 0px 5px 1px;
  }

  

  .button:hover center-box{
    background-color: #888888
  }

  /*
  .front-page-background {
    background-image: url(images/terraceBackground.jpeg);
    height: 100%; 
    background-size: cover;
  }
*/
  .front-page-p {
    padding: 30px
  }

  .framed-image {
  width: 100%;
  height: auto;
    
    background-color: #242424;
  }

  /* Music Page CSS*/
  .songs {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .box {
    margin: 30px;
    background-color: white;
    text-align: center;
    box-shadow: 0px 0px 20px -15px;
    border-radius: 8px;
  }

  .left-box {
    margin: 30px;
    background-color: white;
    text-align: left;
    box-shadow: 0px 0px 20px -15px;
    border-radius: 8px;
  }

  .home-page-body {
    text-align: center
  }

  .center-box {
    margin: 30px;
    padding: 20px;
    background-color: white;
    text-align: center;
    box-shadow: 0px 0px 20px -15px;
    border-radius: 8px;
    min-width: 300px;
    display: inline-block
  }

  .box, .left-box p {
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
  }
  .box, .left-box h3 {
    padding-top: 20px;
    padding: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
  }
 
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#tall.row {
  height: 100%;
}

.row>* {
  flex: 1 1 300px;
}


.row-header {
    display: flex;
    flex-direction: column;
    margin: 30px;
    background-color: white;
    flex: 1;
    text-align: center;
    box-shadow: 0px 0px 20px -15px;
    border-radius: 8px;
}

.column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .column>* {
    flex: 1 1 500px;
  }

  audio {
    padding: 10px;
  }

  .page-header {
    text-align: center;
  }

/* Blog CSS*/
#blog-posts {
  margin: 30px;
}

/* Blog post CSS */

  .separate {
    display: flex;
    justify-content: space-between;
  }

.toggleButton:hover {
cursor: pointer;
}

  
  /* 
  Mobile view CSS for hamburger
  */

  #menuToggle {
    display:none
  }

  @media only screen and (max-width: 750px) {

    body{
      width: initial;
      position: absolute;
    }

#pages {
  display:none;
}

.box, .center-box{
  margin-top: 10px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 10px;
}

/* Hamburger menu stuff */

#menu a{
  color: #242424;
  list-style: none;
  width: 178.5px;
}

#menu a:hover
{
  color: black;
}

#menu li:hover
{
  border-bottom: 2px solid #363636;
}

#menuToggle
{
display: block;
top: 50px;
left: 50px;
padding: 20px;
z-index: 1;

-webkit-user-select: none;
user-select: none;
}

#menuToggle:hover {
  background-color: #363636;
}

#menuToggle input
{
display: block;
width: 80px;
height: 70px;
position: absolute;
top: -7px;
left: -5px;

cursor: pointer;

opacity: 0; /* hide this */
z-index: 2; /* place it over the hamburger */

-webkit-touch-callout: none;
}

#menuToggle span
{
display: block;
width: 33px;
height: 4px;
margin-bottom: 5px;
position: relative;

background: white;
border-radius: 3px;

z-index: 1;

transform-origin: 4px 0px;

transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            opacity 0.55s ease;
}

#menuToggle span:first-child
{
transform-origin: 0% 0%;
}


#menu
{
position: absolute;
margin: 20px 0 0 -50px;
padding-left: 50px;
padding-right: 30px;
padding-top: 20px;
padding-bottom: 20px;


background: white;
list-style-type: none;

box-shadow: 0px 2px 5px 0px #888888; 

-webkit-font-smoothing: antialiased;
/* to stop flickering of text in safari */

transform-origin: 0% 0%;
transform: translate(-100%, 0);

transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
padding: 10px 0;
font-size: 22px;
border-bottom: 2px solid transparent;

}

/*
* slide it in from the left
*/
#menuToggle input:checked ~ ul
{
transform: none;
}



  }
