
body {
    padding: 0px;
    margin: 0px;
    background-color: #f2f2f2;
    font-family: "Avenir Next", "Avenir", sans-serif !important;
    height: 100%;
    width: 100%; 
    /*box-shadow: inset 0 20px 20px -20px #000000;*/

    /*overscroll-behavior: none;*/
}

.navbar{
  box-shadow:           0px 3px 6px rgba(0, 0, 0, .5) !important;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, .5) !important;
    -moz-box-shadow:    0px 3px 6px rgba(0, 0, 0, .5) !important;
}

.rounded-circle{
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .5);
}

.custom-button{
  width: 120;
}
/*footer*/
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
a.btn-social,
.btn-social
{
    border-radius: 50%;
    color: #ffffff !important;
    display: inline-block;
    height: 54px;
    line-height: 54px;
    margin: 8px 4px;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s;
    webkit-transition: background-color .3s;
    width: 54px;
}

.btn-social .fa,.btn-social i
{
    backface-visibility: hidden;
    moz-backface-visibility: hidden;
    ms-transform: scale(1);
    o-transform: scale(1);
    transform: scale(1);
    transition: all .25s;
    webkit-backface-visibility: hidden;
    webkit-transform: scale(1);
    webkit-transition: all .25s;
}
.btn-social:hover,.btn-social:focus
{
    color: #fff;
    outline: none;
    text-decoration: none;
}
.btn-social:hover .fa,.btn-social:focus .fa,.btn-social:hover i,.btn-social:focus i
{
    ms-transform: scale(1.3);
    o-transform: scale(1.3);
    transform: scale(1.3);
    webkit-transform: scale(1.3);
}
.btn-social.btn-xs
{
    font-size: 9px;
    height: 24px;
    line-height: 13px;
    margin: 6px 2px;
    width: 24px;
}
.btn-social.btn-sm
{
    font-size: 13px;
    height: 36px;
    line-height: 18px;
    margin: 6px 2px;
    width: 36px;
}
.btn-social.btn-lg
{
    font-size: 22px;
    height: 72px;
    line-height: 40px;
    margin: 10px 6px;
    width: 72px;
}

.btn-facebook
{
    background-color: #3b5998;
}
.btn-facebook:hover
{
    background-color: #4c70ba;
}
.btn-instagram
{
    background-color: #ff3b9f;
}
.btn-instagram:hover
{
    background-color: #cc3382;
}
.btn-linkedin
{
    background-color: #0976b4;
}
.btn-linkedin:hover
{
    background-color: #0b96e5;
}
.btn-twitter
{
    background-color: #55acee;
}
.btn-twitter:hover
{
    background-color: #83c3f3;
}
.btn-email
{
    background-color: #44c456;
}
.btn-email:hover
{
    background-color: #6bd079;
}

i {
  transform: translate(0px, 18px) !important;
}



/***************/

/* used to fix the safari CSS issues */
.row:before, .row:after {display: none !important;} 

.center {
  text-align: center;
}

#blue-background {
  background-color: #3998ccff;
  /*box-shadow: inset 0 20px 20px -20px #000000;*/
}

.top-nav {
    /*box-shadow: 0 0 10px black;*/
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    
}

.pages {
    display: flex;
    width: 150px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px;
    text-align: center;
}

.nav-item {
    display: flex;
}

.nav-item li {
    list-style-type: none;
    width: 100px;
    padding: 5px;
    text-align: center;
  }

  .nav-item a li {
    text-decoration: none;
    color: white;
    margin-top: 10px;
  }

  .nav-item img{
margin-left: 10px;
margin-right: 10px;
margin-top:10px;
  }

  #name {
    margin-top: 0px;
    padding: 4px;
    padding-bottom: 4px;
  }

  #musicImg {
    margin-top: 7px;
    height: 38px;
  }

  /* font page CSS*/

  .home-header {
    padding-top: 40px;
    text-align: center;
  }

  .circle-image {
    width: 300px;
    height: auto;
    border-radius: 50%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .circle-image-shadow {
    display: block;
  width: 300px;
  height: 300px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  /*border: 5px solid #eee; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);  
  }

  .circle-image-shadow-large {
    display: block;
  width: 500px;
  height: 500px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  /*border: 5px solid #eee; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);  
  }

  .button{
    text-decoration: none;
    color: #363636;
  }

  /* hover effects for button*/
  #button:hover {
box-shadow: 0px 0px 5px 1px gray;
  }

  

  .button:hover center-box{
    background-color: #888888
  }

  /*
  .front-page-background {
    background-image: url(images/terraceBackground.jpeg);
    height: 100%; 
    background-size: cover;
  }
*/
  .front-page-p {
    padding: 30px
  }

  .framed-image {
  width: 100%;
  height: auto;
    
    background-color: #242424;
  }

  /* Music Page CSS*/
  .songs {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .box {
    margin: 30px;
    background-color: white;
    text-align: center;
    box-shadow: 0px 0px 20px -15px;
    border-radius: 8px;
  }

  .left-box {
    margin: 30px;
    background-color: white;
    text-align: left;
    box-shadow: 0px 0px 20px -15px;
    border-radius: 8px;
  }

  .home-page-body {
    text-align: center
  }

  .center-box {
    margin: 30px;
    padding: 20px;
    background-color: white;
    text-align: center;
    box-shadow: 0px 0px 20px -15px;
    border-radius: 8px;
    min-width: 300px;
    display: inline-block
  }

  .box, .left-box p {
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
  }
  .box, .left-box h3 {
    padding-top: 20px;
    padding: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
  }
 
.home-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.music-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#tall.home-row {
  height: 100%;
}

.home-row>* {
  flex: 1 1 300px;
} 


.row-header {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    background-color: white;
    flex: 1;
    text-align: center;
    box-shadow: 0px 0px 20px -15px;
    border-radius: 8px;
}

.column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .column>* {
    flex: 1 1 500px;
  }

  audio {
    padding: 10px;
  }

  .page-header {
    text-align: center;
  }

/* Blog CSS*/
#blog-posts {
  margin: 30px;
}

#blog-posts-preview{
  padding: 30px;
  background-color: white;
}

/* Blog post CSS */

  .separate {
    display: flex;
    justify-content: space-between;
  }

.toggleButton:hover {
cursor: pointer;
}

/* podcast box css */
.podcast-box{
margin: 30px;
padding: 15px;
background-color: white;
box-shadow: 0px 0px 20px -15px;
border-radius: 8px;
}

  
  /* 
  Mobile view CSS for hamburger
  */

  #menuToggle {
    display:none
  }

  @media only screen and (max-width: 750px) {

    body{
      width: initial;
      position: absolute;
    }

#pages {
  display:none;
}



.box, .center-box{
  margin-top: 10px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 10px;
}

.left-box {
  margin: 10px;
}

/* Hamburger menu stuff */

#menu a{
  color: #242424;
  list-style: none;
  width: 178.5px;
}

#menu a:hover
{
  color: black;
}

#menu li:hover
{
  border-bottom: 2px solid #363636;
}

#menuToggle
{
display: block;
top: 50px;
left: 50px;
padding: 20px;
z-index: 1;

-webkit-user-select: none;
user-select: none;
}

#menuToggle:hover {
  background-color: #363636;
}

#menuToggle input
{
display: block;
width: 80px;
height: 70px;
position: absolute;
top: -7px;
left: -5px;

cursor: pointer;

opacity: 0; /* hide this */
z-index: 2; /* place it over the hamburger */

-webkit-touch-callout: none;
}

#menuToggle span
{
display: block;
width: 33px;
height: 4px;
margin-bottom: 5px;
position: relative;

background: white;
border-radius: 3px;

z-index: 1;

transform-origin: 4px 0px;

transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            opacity 0.55s ease;
}

#menuToggle span:first-child
{
transform-origin: 0% 0%;
}


#menu
{
position: absolute;
margin: 20px 0 0 -50px;
padding-left: 50px;
padding-right: 30px;
padding-top: 20px;
padding-bottom: 20px;


background: white;
list-style-type: none;

box-shadow: 0px 2px 5px 0px #888888; 

-webkit-font-smoothing: antialiased;
/* to stop flickering of text in safari */

transform-origin: 0% 0%;
transform: translate(-100%, 0);

transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
padding: 10px 0;
font-size: 22px;
border-bottom: 2px solid transparent;

}

/*
* slide it in from the left
*/
#menuToggle input:checked ~ ul
{
transform: none;
}



  }
